.highlights {
  background-color: var(--secondary-background-color);
  padding: 1rem;
  color: var(--primary-font-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  word-spacing: 1px;
  background-color: var(--dark-background-color);
  height: 110px;
  min-width: 280px;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.iconContainer {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
}
/* .detailsContainer {
  flex-direction: column;
  align-items: start;
  gap: 0;
} */
.detailsContainer p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-font-color);
}
.detailsContainer p span {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-font-color);
}
.detailsContainer p span sup {
  font-size: 0.8rem;
}
.detailsContainer p span span {
  font-size: 0.8rem;
}

/* Media Queries */

@media (max-width: 725px) {
  .highlights {
    padding: calc(1rem * 1.35);
    font-size: calc(1rem * 1.35);
    letter-spacing: calc(1px * 1.35);
    word-spacing: calc(3px * 1.35);
    border-radius: calc(10px * 1.35);
    gap: calc(0.5rem * 1.35);
  }
  .cardWrapper {
    gap: calc(1rem * 1.23);
  }
  .card {
    flex-direction: column;
    word-spacing: calc(1px * 1.35);
    height: calc(110px * 1.75);
    min-width: calc(280px * 1);
    padding: calc(0.5rem * 1.35);
    border-radius: calc(10px * 1.35);
    gap: calc(0.5rem * 1.35);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.35);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.35);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.35);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.35);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.35);
  }
}

@media (max-width: 670px) {
  .highlights {
    padding: calc(1rem * 1.5);
    font-size: calc(1rem * 1.35);
    letter-spacing: calc(1px * 1.5);
    word-spacing: calc(3px * 1.5);
    border-radius: calc(10px * 1.5);
    gap: calc(0.5rem * 1.5);
  }
  .cardWrapper {
    gap: calc(1rem * 1.5);
  }
  .card {
    word-spacing: calc(1px * 1.5);
    height: calc(110px * 1.5);
    min-width: calc(280px * 1.75);
    flex-direction: row;

    padding: calc(0.5rem * 1.5);
    border-radius: calc(10px * 1.5);
    gap: calc(0.5rem * 5.25);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.5);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.5);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.5);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.5);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.5);
  }
}

@media (max-width: 580px) {
  .highlights {
    padding: calc(1rem * 1.35);
    font-size: calc(1rem * 1.15);
    letter-spacing: calc(1px * 1.35);
    word-spacing: calc(3px * 1.35);
    border-radius: calc(10px * 1.35);
    gap: calc(0.5rem * 1.35);
  }
  .cardWrapper {
    gap: calc(1rem * 1.35);
  }
  .card {
    word-spacing: calc(1px * 1.35);
    height: calc(110px * 1.35);
    min-width: calc(280px * 1.35);
    padding: calc(0.5rem * 1.35);
    border-radius: calc(10px * 1.35);
    gap: calc(0.5rem * 3.5);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.35);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.35);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.35);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.35);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.35);
  }
}

@media (max-width: 485px) {
  .highlights {
    padding: calc(1rem);
    font-size: calc(1rem);
    letter-spacing: calc(1px);
    word-spacing: calc(3px);
    border-radius: calc(10px);
    gap: calc(0.5rem);
  }
  .cardWrapper {
    gap: calc(1rem);
  }
  .card {
    word-spacing: calc(1px);
    height: calc(110px);
    min-width: calc(280px);
    padding: calc(0.5rem);
    border-radius: calc(10px);
    gap: calc(0.5rem);
  }
  .iconContainer {
    font-size: calc(3.5rem);
  }
  .detailsContainer p {
    font-size: calc(1rem);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem);
  }
}

@media (max-width: 420px) {
  .highlights {
    font-size: calc(1rem * 0.85);
  }
}

@media (max-width: 365px) {
  .highlights {
    font-size: calc(1rem * 0.65);
  }
}

@media (max-width: 485px) {
  .highlights {
    padding: calc(1rem * 0.85);
    letter-spacing: calc(1px * 0.85);
    word-spacing: calc(3px * 0.85);
    border-radius: calc(10px * 0.85);
    gap: calc(0.5rem * 0.85);
  }
  .cardWrapper {
    gap: calc(1rem * 0.85);
  }
  .card {
    word-spacing: calc(1px * 0.85);
    height: calc(110px * 0.85);
    min-width: calc(280px * 0.85);
    padding: calc(0.5rem * 0.85);
    border-radius: calc(10px * 0.85);
    gap: calc(0.5rem * 0.85);
  }
  .iconContainer {
    font-size: calc(3.5rem * 0.85);
  }
  .detailsContainer p {
    font-size: calc(1rem * 0.85);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 0.85);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 0.85);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 0.85);
  }
}

@media (min-width: 725px) {
  .highlights {
    padding: calc(1rem * 65 / 100);
    font-size: calc(1rem * 65 / 100);
    letter-spacing: calc(1px * 65 / 100);
    word-spacing: calc(3px * 65 / 100);
    border-radius: calc(10px * 65 / 100);
    gap: calc(0.5rem * 65 / 100);
  }
  .cardWrapper {
    gap: calc(1rem * 65 / 100);
  }
  .card {
    word-spacing: calc(1px * 65 / 100);
    height: calc(110px * 65 / 100);
    min-width: calc(280px * 65 / 100);
    padding: calc(0.5rem * 65 / 100);
    border-radius: calc(10px * 65 / 100);
    gap: calc(0.5rem * 65 / 100);
  }
  .iconContainer {
    font-size: calc(3.5rem * 65 / 100);
  }
  .detailsContainer p {
    font-size: calc(1rem * 65 / 100);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 65 / 100);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 65 / 100);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 65 / 100);
  }
}

@media (min-width: 950px) {
  .highlights {
    padding: calc(1rem * 85 / 100);
    font-size: calc(1rem * 85 / 100);
    letter-spacing: calc(1px * 85 / 100);
    word-spacing: calc(3px * 85 / 100);
    border-radius: calc(10px * 85 / 100);
    gap: calc(0.5rem * 85 / 100);
  }
  .cardWrapper {
    gap: calc(1rem * 85 / 100);
  }
  .card {
    word-spacing: calc(1px * 85 / 100);
    height: calc(110px * 85 / 100);
    min-width: calc(280px * 85 / 100);
    padding: calc(0.5rem * 85 / 100);
    border-radius: calc(10px * 85 / 100);
    gap: calc(0.5rem * 85 / 100);
  }
  .iconContainer {
    font-size: calc(3.5rem * 85 / 100);
  }
  .detailsContainer p {
    font-size: calc(1rem * 85 / 100);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 85 / 100);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 85 / 100);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 85 / 100);
  }
}

@media (min-width: 1120px) {
  .highlights {
    padding: calc(1rem * 1);
    font-size: calc(1rem * 1);
    letter-spacing: calc(1px * 1);
    word-spacing: calc(3px * 1);
    border-radius: calc(10px * 1);
    gap: calc(0.5rem * 1);
  }
  .cardWrapper {
    gap: calc(1rem * 1);
  }
  .card {
    word-spacing: calc(1px * 1);
    height: calc(110px * 1);
    min-width: calc(280px * 1);
    padding: calc(0.5rem * 1);
    border-radius: calc(10px * 1);
    gap: calc(0.5rem * 1);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1);
  }
}

@media (min-width: 1400px) {
  .highlights {
    padding: calc(1rem * 1.25);
    font-size: calc(1rem * 1.25);
    letter-spacing: calc(1px * 1.25);
    word-spacing: calc(3px * 1.25);
    border-radius: calc(10px * 1.25);
    gap: calc(0.5rem * 1.25);
  }
  .cardWrapper {
    gap: calc(1rem * 1.25);
  }
  .card {
    word-spacing: calc(1px * 1.25);
    height: calc(110px * 1.25);
    min-width: calc(280px * 1.25);
    padding: calc(0.5rem * 1.25);
    border-radius: calc(10px * 1.25);
    gap: calc(0.5rem * 1.25);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.25);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.25);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.25);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.25);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.25);
  }
}

@media (min-width: 1660px) {
  .highlights {
    padding: calc(1rem * 1.5);
    font-size: calc(1rem * 1.5);
    letter-spacing: calc(1px * 1.5);
    word-spacing: calc(3px * 1.5);
    border-radius: calc(10px * 1.5);
    gap: calc(0.5rem * 1.5);
  }
  .cardWrapper {
    gap: calc(1rem * 1.5);
  }
  .card {
    word-spacing: calc(1px * 1.5);
    height: calc(110px * 1.5);
    min-width: calc(280px * 1.5);
    padding: calc(0.5rem * 1.5);
    border-radius: calc(10px * 1.5);
    gap: calc(0.5rem * 1.5);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.5);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.5);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.5);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.5);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.5);
  }
}

@media (min-width: 1950px) {
  .highlights {
    padding: calc(1rem * 1.75);
    font-size: calc(1rem * 1.75);
    letter-spacing: calc(1px * 1.75);
    word-spacing: calc(3px * 1.75);
    border-radius: calc(10px * 1.75);
    gap: calc(0.5rem * 1.75);
  }
  .cardWrapper {
    gap: calc(1rem * 1.75);
  }
  .card {
    word-spacing: calc(1px * 1.75);
    height: calc(110px * 1.75);
    min-width: calc(280px * 1.75);
    padding: calc(0.5rem * 1.75);
    border-radius: calc(10px * 1.75);
    gap: calc(0.5rem * 1.75);
  }
  .iconContainer {
    font-size: calc(3.5rem * 1.75);
  }
  .detailsContainer p {
    font-size: calc(1rem * 1.75);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 1.75);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 1.75);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 1.75);
  }
}

@media (min-width: 2250px) {
  .highlights {
    padding: calc(1rem * 2);
    font-size: calc(1rem * 2);
    letter-spacing: calc(1px * 2);
    word-spacing: calc(3px * 2);
    border-radius: calc(10px * 2);
    gap: calc(0.5rem * 2);
  }
  .cardWrapper {
    gap: calc(1rem * 2);
  }
  .card {
    word-spacing: calc(1px * 2);
    height: calc(110px * 2);
    min-width: calc(280px * 2);
    padding: calc(0.5rem * 2);
    border-radius: calc(10px * 2);
    gap: calc(0.5rem * 2);
  }
  .iconContainer {
    font-size: calc(3.5rem * 2);
  }
  .detailsContainer p {
    font-size: calc(1rem * 2);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 2);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 2);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 2);
  }
}

@media (min-width: 2500px) {
  .highlights {
    padding: calc(1rem * 2.25);
    font-size: calc(1rem * 2.25);
    letter-spacing: calc(1px * 2.25);
    word-spacing: calc(3px * 2.25);
    border-radius: calc(10px * 2.25);
    gap: calc(0.5rem * 2.25);
  }
  .cardWrapper {
    gap: calc(1rem * 2.25);
  }
  .card {
    word-spacing: calc(1px * 2.25);
    height: calc(110px * 2.25);
    min-width: calc(280px * 2.25);
    padding: calc(0.5rem * 2.25);
    border-radius: calc(10px * 2.25);
    gap: calc(0.5rem * 2.25);
  }
  .iconContainer {
    font-size: calc(3.5rem * 2.25);
  }
  .detailsContainer p {
    font-size: calc(1rem * 2.25);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 2.25);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 2.25);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 2.25);
  }
}

@media (min-width: 2750px) {
  .highlights {
    padding: calc(1rem * 2.5);
    font-size: calc(1rem * 2.5);
    letter-spacing: calc(1px * 2.5);
    word-spacing: calc(3px * 2.5);
    border-radius: calc(10px * 2.5);
    gap: calc(0.5rem * 2.5);
  }
  .cardWrapper {
    gap: calc(1rem * 2.5);
  }
  .card {
    word-spacing: calc(1px * 2.5);
    height: calc(110px * 2.5);
    min-width: calc(280px * 2.5);
    padding: calc(0.5rem * 2.5);
    border-radius: calc(10px * 2.5);
    gap: calc(0.5rem * 2.5);
  }
  .iconContainer {
    font-size: calc(3.5rem * 2.5);
  }
  .detailsContainer p {
    font-size: calc(1rem * 2.5);
  }
  .detailsContainer p span {
    font-size: calc(1.3rem * 2.5);
  }
  .detailsContainer p span sup {
    font-size: calc(0.8rem * 2.5);
  }
  .detailsContainer p span span {
    font-size: calc(0.8rem * 2.5);
  }
}
