.highlights {
  background-color: var(--secondary-background-color);
  padding: 1rem;
  color: var(--primary-font-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  word-spacing: 1px;
  background-color: var(--dark-background-color);
  height: 110px;
  min-width: 280px;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.iconContainer {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
}
.detailsContainer {
  flex-direction: column;
  align-items: start;
  gap: 0;
}
.detailsContainer p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-font-color);
}
.detailsContainer p span {
  font-size: 1.3rem;
  font-weight: 400;

  color: var(--primary-font-color);
}
.detailsContainer p span sup {
  font-size: 0.8rem;
}
.detailsContainer p span span {
  font-size: 0.8rem;
}
