/* .weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */
.weather {
  background-color: dodgerblue;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: var(--primary-font-color);
  border-radius: 10px;
}

.weather div {
  font-weight: normal;
  color: var(--primary-font-color);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.weather div > span {
  color: var(--secondary-font-color);
}
.weather div h1 {
  font-size: 12rem;
  font-weight: 400;
  color: var(--primary-font-color);
}
.weather div h1 > sup {
  font-weight: normal;
  font-size: 7.5rem;
}
.weather div .imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather div .imageContainer img {
  border: 1px solid var(--primary-font-color);
  height: 100px;
}
